# Lines that start with a hash (#) will be ignored
# no support for inline comments
# no support for trailing commas
# will skip empty lines, but make sure no new lines within list
# only supports five different options, which match their command line version names:
# skipLibCalls, ignoreFns, replicateFnCalls, ignoreGlbls, runtimeInitGlobals
# this file makes no claim at containing an exhaustive list

# Ways to handle function calls
# Call once, unmodified. Value will propogate through other replicated instructions
# pass -skipLibCalls=[list] to skip library calls
skipLibCalls = rand, srand, printf, abort, exit, atexit, assert, clock, printf, fprintf, sprintf, scanf, getchar, getc, ungetc, fopen, fclose, fgetpos, fflush, fread, ftell, fwrite, memchr, memcmp, setlocale, localeconv, fgets, fgetc, rewind, rename, puts
# clocal.h? (returns pointer)

# pass -ignoreFns=[list] to skip user calls
ignoreFns =

# Replicate call - do not sync on return values
# Default for library calls
# funtions from math.h, ctype.h, signal.h, string.h, stdlib.h, malloc, calloc
# modf?

# pass -replicateFnCalls=[list] to enable for user calls
replicateFnCalls =

# Replicate called function signature - also replicates function body
# cannot be done to library calls
# [user functions - default]
